		<header class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
<<<<<<< HEAD
					<%= link_to "Sample App", root_path, id: "logo" %>
=======
					<%= link_to "Sample App", '#', id: "logo" %>
>>>>>>> 3381235b011a8dc8ed7595017b1bcbab7690b194
					<nav>
						<ul class="nav pull-right">
							<li><%= link_to "Home",     root_path %></li>
							<li><%= link_to "Help",     help_path %></li>
							<li><%= link_to "Sign in",  signup_path %></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>