<!DOCTYPE html>
<html>
	<head>
  		<title><%= full_title(yield(:title)) %></title>
  		<%= stylesheet_link_tag    "application", media: "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
  		<%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer' %>
			
			<%= debug(params) if Rails.env.development? %>
<!--			<%= request.inspect %>
			<%= debug(request.env['REMOTE_ADDR'].inspect) if Rails.env.development?%>
			<%= debug(request.request_method.inspect) if Rails.env.development? %>
			<%= debug(request.env.class) if Rails.env.development? %>
			<%= debug(request.uuid.inspect) if Rails.env.development? %>
			<%= debug(request.env['REMOTE_HOST'].inspect) if Rails.env.development?%>
			<%= debug(request.env['HTTP_COOKIE'].inspect) if Rails.env.development?%>
			<%= debug(request.original_url) if Rails.env.development? %>
			<%= debug(request.headers["CONTENT_LENGTH"].inspect) if Rails.env.development? %>
			<%= debug(request.remote_ip.inspect) if Rails.env.development? %>
		-->
		</div>
	</body>
</html>
